.repos {
  height: 600px;
  width: 100%;
  box-shadow: 1px 0 16px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  margin-top: 25px;
  padding: 0 40px;
  border-top: solid 40px #fff;
  border-bottom: solid 40px #fff;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;

  display: grid;
  grid-template-columns: repeat(2, 555px);
  grid-auto-rows: 130px;
  grid-gap: 20px;

  &--loading,
  &--error {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error-info {
    color: #848484;
    margin: 0;
  }
}
