<div class="searchbar">
  <h1 class="searchbar__title">Rekrutacja GBX Soft</h1>

  <div class="searchbar__input-wrapper">
    <p class="searchbar__input-wrapper__label">Wpisz nazwę użytkownika repo</p>
    <form (ngSubmit)="onSubmit()" class="searchbar__input-wrapper__form">
      <input type="text"
             name="username"
             class="searchbar__input-wrapper__form__input"
             aria-label="Nazwa użytkownika"
             [(ngModel)]="username"
             [disabled]="isLoading"
             [class.searchbar__input-wrapper__form__input--disabled]="isLoading"
      >
      <input type="submit"
             aria-label="Szukaj"
             class="searchbar__input-wrapper__form__submit"
             value=""
             [disabled]="isLoading"
             [class.searchbar__input-wrapper__form__submit--disabled]="isLoading"
      >
    </form>
  </div>
</div>
