<div class="searchbar">
    <h1 class="searchbar__title">Rekrutacja GBX Soft</h1>

    <div class="searchbar__input-wrapper">
        <p class="searchbar__input-wrapper__label">Wpisz nazwę użytkownika repo</p>
        <form class="searchbar__input-wrapper__form">
            <input type="text" v-model="username" class="searchbar__input-wrapper__form__input" aria-label="Nazwa użytkownika">
            <input type="submit" class="searchbar__input-wrapper__form__submit" value="" aria-label="Szukaj">
        </form>
    </div>
</div>